<div class="login-container">
  <h1 class="login-title">Real-time Chat App</h1>
  <h2> Register and start a conversation! </h2>
  <div class="login-form">
    <input type="text" [(ngModel)]="username" placeholder="Username" class="login-input" />
    <input type="password" [(ngModel)]="password" placeholder="Password" class="login-input" />
    <button class="login-button" (click)="register()">Sign Up</button>
  </div>
  <div class="signup-link">
    Already have an account? <a routerLink="/login" class="signup-highlight">Log in!</a>
  </div>
</div>
