/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.error-snackbar {
  background-color: #f44336; /* Red color */
  color: #fff; /* Text color */
  font-weight: bold;
}

.ok-snackbar {
  background-color: rgb(33, 192, 54); /* Red color */
  color: #fff; /* Text color */
  font-weight: bold;
}